/android/native/CMakeFiles
android/.DS_Store
android/native/.DS_Store
/android/native/CMakeFiles
android/native/fastbot.log
/android/native/**/*.o
/android/native/fastbot*.log
/android/.gradle
android/monkeyq copy.jar
/android/native/CMakeFiles
/android/native/CMakeFiles
/android/logs/my-fastbot-logs
/android/native/CMakeFiles
/android/native/CMakeFiles/fastbot_native.dir/desc
/android/native/CMakeFiles/fastbot_native.dir
/android/logs
/android/native/build/CMakeFiles/fastbot_native.dir/thirdpart/flatbuffers
/android/native/build/CMakeFiles/Progress
/android/native/build/CMakeFiles
/android/native/CMakeFiles/fastbot_native.dir
/android/native/CMakeFiles/fastbot_native.dir/model
/android/native/CMakeFiles/fastbot_native.dir/model
/android/native/CMakeFiles/fastbot_native.dir/desc
/android/native/build-ndk/CMakeFiles
/android/native/CMakeFiles
/android/native/CMakeFiles/4.2.2
/android/native/build-host
/android/native/CMakeFiles
/android/native/_test_build
/android/native/CMakeFiles/fastbot_native.dir
/android/native/CMakeFiles
